.comment-blk{
	display: flex;
	align-items: centre;
}

.upper{
	display: flex;
}

.upper> p{
	padding-left: 0.5rem;
}

.right-comment-blk{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 0.8rem;
}

.comment-Data{
	text-align: left;
}
