.post-container{
	margin: 2rem 2rem 0 2rem;
	max-width: 600px;
	border: 1px solid lightgrey;
	background: white;
	border-radius: 0.2rem;
}

.post-header{
	display: flex;
	align-items: center;
	justify-content: space-between; 
	padding: 0.5rem;
	border-bottom: 1px solid lightgrey; 
}

.post-header h4{
	margin-left: 0.6rem;
}

.left-post-header{
	display: flex;
	align-items: center;
}

.del-button{
	background: transparent;
	padding: 0 1rem 0 1rem;
	height: 2rem;
	border: 1px solid grey;
	border-radius: 0.5rem;
	font-size: 0.8rem;
	cursor:pointer;
}

.right-post-header{
	display: none;
}

.show-right-post-header{
	display: block;
}

.Avtr{
 	padding: 0;
}


.post-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	padding: 0;
	border-bottom: 1px solid lightgrey;
}

.post_icons_set{
	display: flex;
}

.post_icon_btn{
	background: transparent;
	border-color: transparent;
	cursor: pointer;
	outline: transparent;
}

.post-footer{
	text-align: left; 
	padding: 0.8rem; 
}

.post-footer strong{
	padding-right: 0.5rem;
}