.p_container{
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	width: 80vw; 
	padding: 2rem;
	justify-content:  center;
}

.top_block{
	width: 100%;
	display: flex;
	margin-bottom: 1.2rem;
	justify-content: center;
}

.dp_block{
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	margin-right: 5rem;
}

.profile_pic{
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 50%;
}

.edit_block{
	display: flex;
	text-align: center;
	justify-content: space-around;
}

.edit_btn{
	background: transparent;
	padding: 0 1rem 0 1rem;
	height: 2rem;
	border: 1px solid grey;
	border-radius: 0.5rem;
	font-size: 0.8rem;
}

.numbers{
	display: flex;
	justify-content: space-between; 
	font-size: 1.1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.n_css{
	margin-right: 1.2rem;
}

.username{
	font-size: 3rem;
	font-weight: normal;
	margin-right: 1rem;
}

.name{
	font-size: 1.8rem;
	font-weight: bold;
}

.posts_container{
	margin-top: 2rem;
	display: flex;
	justify-content: center;
}

.posts_container_inner{
	display: grid;
  	grid-template-columns: repeat(3, 1fr);
  	grid-auto-rows: 18rem;
  	grid-row-gap: 5px;
}

.smallPost{
	width: 18rem;
	height: 18rem;
}

.smallPost_pic{
	width: 100%;
	height: 100%;
	object-fit: cover;
}